@import url(type.css);
/***

	BASE

***/
/* line 19, ../sass/app.scss */
.browser-upgrade-message {
  display: none;
  font-size: 1.4em;
}
/* line 23, ../sass/app.scss */
.browser-upgrade-message li {
  margin-bottom: .5em;
}
/* line 27, ../sass/app.scss */
.browser-upgrade-message h1 {
  line-height: 1.3em;
}

/* line 32, ../sass/app.scss */
.lte-ie9 .browser-upgrade-message {
  display: block;
}
/* line 35, ../sass/app.scss */
.lte-ie9 #siteCloak {
  display: none;
}

/* line 106, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.5em;
}

/* line 44, ../sass/app.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 51, ../sass/app.scss */
body {
  font-family: Arial, "sans-serif";
  font-size: 1em;
  margin: 0;
  color: #515151;
}

/* line 58, ../sass/app.scss */
h1 {
  margin: 0;
}

/* line 62, ../sass/app.scss */
h2, h3 {
  margin-top: 1.5em;
  font-size: 1.3em;
}

/* line 67, ../sass/app.scss */
img {
  display: block;
  border: none;
}

/* line 72, ../sass/app.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 78, ../sass/app.scss */
ol {
  padding-left: 1.5em;
  margin-top: 0;
  margin-bottom: 1em;
}

/* line 84, ../sass/app.scss */
table {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}

/* line 90, ../sass/app.scss */
thead td {
  font-weight: bold;
}

/* line 94, ../sass/app.scss */
td {
  width: 33%;
}

/* line 98, ../sass/app.scss */
p {
  margin-top: 0;
}

/* line 102, ../sass/app.scss */
a {
  text-decoration: none;
  color: #3d86c6;
}

/***
*
*	Layout
*
***/
@media only screen and (min-width: 640px) {
  /* line 113, ../sass/app.scss */
  .view-container {
    min-height: 40em;
  }
}

/* line 120, ../sass/app.scss */
.site-container {
  width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 1077px) {
  /* line 120, ../sass/app.scss */
  .site-container {
    padding-left: 5.85714286em;
    padding-right: 5.85714286em;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
  }
}

/* line 133, ../sass/app.scss */
.content-container {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}
/* line 138, ../sass/app.scss */
.content-container.bottom-padding {
  padding-bottom: 2.28571429em;
}
@media only screen and (min-width: 1077px) {
  /* line 133, ../sass/app.scss */
  .content-container {
    max-width: 876px;
    padding-left: 7.14285714em;
    padding-right: 7.14285714em;
  }
}

/***
*
*	Common
*
***/
/* line 155, ../sass/app.scss */
.section-heading {
  color: #3d86c6;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.2em;
  padding: 1.742857em 0 0.6em;
  margin: 0;
  background: url("../images/title_dash.jpg") top center no-repeat;
}

/* line 167, ../sass/app.scss */
.heading {
  color: #3d86c6;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.2em;
  background: none;
  padding: 1.742857em 0 0.6em;
  margin: 0;
}

/* line 177, ../sass/app.scss */
.body-copy-heading {
  margin-bottom: 1em;
}

/***
*
*	Header / Navigation
*
***/
/* line 187, ../sass/app.scss */
.header-logo {
  float: left;
  margin-top: 0.8em;
  margin-bottom: 1.1em;
}
@media only screen and (min-width: 640px) {
  /* line 187, ../sass/app.scss */
  .header-logo {
    margin-left: 3em;
  }
}
@media only screen and (min-width: 1077px) {
  /* line 187, ../sass/app.scss */
  .header-logo {
    margin-top: 1.5em;
  }
}

/* line 200, ../sass/app.scss */
.nav {
  clear: both;
  float: left;
  margin-bottom: 1.68571em;
  margin-top: 1em;
  margin-bottom: 2em;
}
/* line 208, ../sass/app.scss */
.nav ul {
  clear: both;
  float: right;
  width: 100%;
}
/* line 213, ../sass/app.scss */
.nav ul.animate-enter {
  height: 0;
}
/* line 216, ../sass/app.scss */
.nav ul.animate-enter.active {
  max-height: 100%;
}
/* line 222, ../sass/app.scss */
.nav li {
  margin-bottom: 1.5em;
}
/* line 225, ../sass/app.scss */
.nav li:last-child {
  margin-bottom: 0;
}
/* line 229, ../sass/app.scss */
.nav li img {
  display: none;
}
/* line 233, ../sass/app.scss */
.nav li a {
  position: relative;
  display: block;
  text-transform: uppercase;
}
/* line 238, ../sass/app.scss */
.nav li a span {
  display: block;
}

/* line 246, ../sass/app.scss */
.header-nav {
  margin-left: 0;
}
@media only screen and (min-width: 640px) {
  /* line 246, ../sass/app.scss */
  .header-nav {
    margin-left: 3em;
  }
}
@media only screen and (min-width: 1077px) {
  /* line 246, ../sass/app.scss */
  .header-nav {
    margin-left: 0;
  }
}

/* line 257, ../sass/app.scss */
.navicon {
  width: 44px;
  height: 35px;
  background: url("../images/menu_navicon_v3.png") no-repeat;
  font-size: 0;
  margin-top: 13px;
  float: right;
}

@media only screen and (min-width: 1077px) {
  /* line 269, ../sass/app.scss */
  .nav {
    clear: none;
    float: right;
    margin: 0;
  }
  /* line 274, ../sass/app.scss */
  .nav ul {
    margin: 0;
    float: right;
    clear: none;
    position: relative;
    z-index: 2;
  }
  /* line 282, ../sass/app.scss */
  .nav li {
    float: left;
    width: 125px;
    position: relative;
    margin-bottom: 0;
  }
  /* line 288, ../sass/app.scss */
  .nav li a {
    position: relative;
    top: 0;
    left: 0;
    padding: 0.45em 0 0.49em;
    text-align: center;
  }
  /* line 297, ../sass/app.scss */
  .nav li span {
    padding: 2.285714em 0.78571429em;
  }
  /* line 301, ../sass/app.scss */
  .nav li:first-child a {
    border-left: 1px solid #ccc;
  }
  /* line 306, ../sass/app.scss */
  .nav a {
    border-right: 1px solid #ccc;
  }
}
@media only screen and (min-width: 1077px) {
  /* line 317, ../sass/app.scss */
  .header-nav li .nav-hilite-arrow {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  /* line 325, ../sass/app.scss */
  .header-nav li.active .nav-hilite-arrow {
    display: block;
  }
  /* line 329, ../sass/app.scss */
  .header-nav li.active a {
    color: #fff;
    font-weight: bold;
    border-right: none;
  }

  /* line 342, ../sass/app.scss */
  .no-touch .header-nav li:hover .nav-hilite-arrow {
    display: block;
  }
  /* line 345, ../sass/app.scss */
  .no-touch .header-nav li:hover a {
    color: #fff;
    border-right: none;
  }
}
/***
*
*	Carousel
*
***/
/* line 360, ../sass/app.scss */
.flexslider-container {
  position: relative;
}

/* line 364, ../sass/app.scss */
.flexslider {
  background: none;
  border: none;
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media only screen and (min-width: 640px) {
  /* line 364, ../sass/app.scss */
  .flexslider {
    width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1077px) {
  /* line 364, ../sass/app.scss */
  .flexslider {
    max-width: 1024px;
  }
}

/* line 380, ../sass/app.scss */
.flexslider .slide {
  float: left;
  width: 100%;
}

/* line 384, ../sass/app.scss */
.flexslider .slide img {
  margin: 0 auto;
  width: 100%;
}

/* line 389, ../sass/app.scss */
.media-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  width: 100%;
}
/* line 395, ../sass/app.scss */
.media-container iframe, .media-container video, .media-container span, .media-container img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

/* line 405, ../sass/app.scss */
.caption {
  text-align: center;
  padding: 0.5em 0;
  color: #fff;
  font-size: 1.3em;
  padding: 1em 0;
  line-height: 1.3em;
  height: 9.6em;
  display: table;
  width: 100%;
}
/* line 416, ../sass/app.scss */
.caption .caption-content {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10%;
}
/* line 422, ../sass/app.scss */
.caption p {
  margin: 0;
}
@media only screen and (min-width: 640px) {
  /* line 405, ../sass/app.scss */
  .caption {
    height: 7em;
  }
  /* line 429, ../sass/app.scss */
  .caption .caption-content {
    padding: 0 2%;
  }
}
@media only screen and (min-width: 1077px) {
  /* line 405, ../sass/app.scss */
  .caption {
    height: 4.6em;
  }
}

/* line 438, ../sass/app.scss */
.quote-attribution {
  font-size: 0.75em;
  display: block;
  line-height: 1.4em;
  margin-top: 0.5em;
}

/* line 445, ../sass/app.scss */
.media-container {
  position: relative;
}

/* line 451, ../sass/app.scss */
.flex-direction-nav a {
  font-size: 0;
  width: 44px;
  height: 44px;
}
/* line 456, ../sass/app.scss */
.flex-direction-nav a.flex-prev {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background: url("../images/left_button.png") 50% no-repeat;
}
/* line 464, ../sass/app.scss */
.flex-direction-nav a.flex-prev:before {
  content: "";
}
/* line 468, ../sass/app.scss */
.flex-direction-nav a.flex-next {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background: url("../images/right_button.png") 50% no-repeat;
}
/* line 476, ../sass/app.scss */
.flex-direction-nav a.flex-next:before {
  content: "";
}

/* line 483, ../sass/app.scss */
.flex-control-nav {
  bottom: 4em;
}
/* line 486, ../sass/app.scss */
.flex-control-nav.flex-control-paging li a {
  background: rgba(250, 250, 250, 0.9);
}
/* line 489, ../sass/app.scss */
.flex-control-nav.flex-control-paging li a.flex-active {
  background: rgba(225, 239, 83, 0.9);
}

/* line 495, ../sass/app.scss */
.play_button {
  width: 96px;
  height: 96px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/***
*
*	Infobar / Tweets
*
***/
/* line 513, ../sass/app.scss */
.info-bar {
  position: relative;
  z-index: 1;
  text-align: left;
  background-color: #b0bc25;
  color: #fff;
  text-transform: uppercase;
}

/* line 522, ../sass/app.scss */
.tweets {
  background: url("../images/twitter_logo.png") 50% 1em no-repeat;
  height: 184px;
}
/* line 526, ../sass/app.scss */
.tweets .content-container {
  padding-top: 4.8em;
}
/* line 530, ../sass/app.scss */
.tweets p {
  margin: 0;
}
/* line 534, ../sass/app.scss */
.tweets .twitter-handle {
  margin-bottom: 0.4em;
}
@media only screen and (min-width: 640px) {
  /* line 522, ../sass/app.scss */
  .tweets {
    height: 155px;
  }
}

/***
*
*	Prize
*
***/
/* line 549, ../sass/app.scss */
.prize-banner {
  margin-bottom: 32px;
}
/* line 553, ../sass/app.scss */
.prize-banner img {
  margin: 0 auto;
  width: 100%;
  max-width: 482px;
}
/* line 559, ../sass/app.scss */
.prize-banner .prize-info {
  margin-top: 1.14285715em;
  padding: 0.5em;
}
/* line 563, ../sass/app.scss */
.prize-banner .prize-info p {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

/***
*
*	Challenges
*
***/
/* line 577, ../sass/app.scss */
.bg-tata-grey {
  background-color: #e2e2e2;
}

/* line 580, ../sass/app.scss */
.bg-tata-grey-no-tint {
  background-color: #717171;
}

/* line 583, ../sass/app.scss */
.bg-tata-green-no-tint {
  background-color: #b0bc25;
}

/* line 586, ../sass/app.scss */
.bg-tata-blue {
  background-color: #d8e6f3;
}

/* line 589, ../sass/app.scss */
.bg-tata-green {
  background-color: #eff1d3;
}

/* line 593, ../sass/app.scss */
.challenge-banner-container {
  width: 100%;
  margin-top: 2.28571429em;
}

/* line 597, ../sass/app.scss */
.challenge-banner {
  float: left;
  width: 32.6%;
  margin-right: 1%;
  position: relative;
}
/* line 603, ../sass/app.scss */
.challenge-banner:last-child {
  margin-right: 0;
}
/* line 607, ../sass/app.scss */
.challenge-banner div {
  padding: 25% 0;
  color: #fff;
  z-index: 2;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 615, ../sass/app.scss */
.challenge-banner div .big-number {
  margin-bottom: 0.3em;
  font-size: 3.771429em;
  line-height: 1em;
  color: #fff;
  display: block;
  font-weight: bold;
}
/* line 624, ../sass/app.scss */
.challenge-banner div p {
  border: 1px solid;
  display: inline-block;
  line-height: 1.4em;
  padding: 0.4em 0.7em;
  font-size: 1.1em;
}
/* line 631, ../sass/app.scss */
.challenge-banner div a {
  color: #fff;
}
/* line 636, ../sass/app.scss */
.challenge-banner .challenge-bg-graphic {
  position: relative;
  width: 100%;
  z-index: 1;
  display: none;
}
/* line 643, ../sass/app.scss */
.challenge-banner .challenge-coming-soon {
  display: block;
}
/* line 648, ../sass/app.scss */
.challenge-banner.open .challenge-active {
  display: block;
}
/* line 651, ../sass/app.scss */
.challenge-banner.open .challenge-coming-soon {
  display: none;
}
/* line 654, ../sass/app.scss */
.challenge-banner.open .challenge-closed {
  display: none;
}
/* line 659, ../sass/app.scss */
.challenge-banner.closed .challenge-closed {
  display: block;
}
/* line 662, ../sass/app.scss */
.challenge-banner.closed .challenge-active {
  display: none;
}
/* line 665, ../sass/app.scss */
.challenge-banner.closed .challenge-coming-soon {
  display: none;
}

/* line 672, ../sass/app.scss */
.site-container.challenges {
  margin-top: 2.28571429em;
}

/* line 676, ../sass/app.scss */
.download-link {
  border: 1px solid;
  display: inline-block;
  padding: 0.5em;
  width: 13.5em;
}

@media only screen and (min-width: 640px) {
  /* line 688, ../sass/app.scss */
  .challenge-banner .big-number {
    font-size: 5em;
    line-height: 1em;
    color: #fff;
  }
}
/* line 698, ../sass/app.scss */
.enter {
  min-height: 47px;
}

/***
*
*	Social
*
***/
/* line 708, ../sass/app.scss */
.share {
  text-align: center;
  line-height: 0;
}
@media only screen and (min-width: 640px) {
  /* line 708, ../sass/app.scss */
  .share {
    float: left;
    margin-left: 2.5em;
  }
}
/* line 717, ../sass/app.scss */
.share.post-entry {
  float: none;
  margin-left: 0;
}
/* line 722, ../sass/app.scss */
.share .share-text {
  margin-top: 0.7em;
}

/* line 729, ../sass/app.scss */
.share .share-icon {
  display: inline-block;
  margin-right: 0.5em;
}
/* line 733, ../sass/app.scss */
.share .share-icon a {
  text-decoration: none;
  color: #717171;
  width: 44px;
  display: block;
  padding: 1.7em 0;
  background: url("../images/social_icons_sprite_v3.svg") no-repeat;
}
/* line 742, ../sass/app.scss */
.share .share-icon a.twitter-icon {
  background-position: 0 -17%;
}
/* line 745, ../sass/app.scss */
.share .share-icon a.twitter-icon:active {
  background-position: 0 114%;
}
/* line 749, ../sass/app.scss */
.share .share-icon a.facebook-icon {
  background-position: 46% -17%;
}
/* line 752, ../sass/app.scss */
.share .share-icon a.facebook-icon:active {
  background-position: 46% 114%;
}
/* line 756, ../sass/app.scss */
.share .share-icon a.linkedin-icon {
  background-position: 103% -17%;
}
/* line 759, ../sass/app.scss */
.share .share-icon a.linkedin-icon:active {
  background-position: 103% 114%;
}
/* line 766, ../sass/app.scss */
.share .share-icon:last-child {
  margin-right: 0;
}

/* line 774, ../sass/app.scss */
.share.post-entry .share-icon a {
  background-image: url("../images/social-icons_darker_submit.png");
  background-repeat: no-repeat;
}
/* line 778, ../sass/app.scss */
.share.post-entry .share-icon a.twitter-icon {
  background-position: 0 90%;
}
/* line 781, ../sass/app.scss */
.share.post-entry .share-icon a.twitter-icon:active {
  background-position: 0 -8%;
}
/* line 785, ../sass/app.scss */
.share.post-entry .share-icon a.facebook-icon {
  background-position: 48% 90%;
}
/* line 788, ../sass/app.scss */
.share.post-entry .share-icon a.facebook-icon:active {
  background-position: 48% -8%;
}
/* line 792, ../sass/app.scss */
.share.post-entry .share-icon a.linkedin-icon {
  background-position: 101% 90%;
}
/* line 795, ../sass/app.scss */
.share.post-entry .share-icon a.linkedin-icon:active {
  background-position: 101% -8%;
}

/***
*
*	Forms
*
***/
/* line 810, ../sass/app.scss */
.form {
  text-align: left;
}

/* line 814, ../sass/app.scss */
.form-group {
  margin-bottom: 1.5em;
  text-align: left;
}
/* line 818, ../sass/app.scss */
.form-group:last-child {
  margin-bottom: 0;
}

/* line 823, ../sass/app.scss */
.upload-section {
  padding-top: 0.5em;
}

/* line 828, ../sass/app.scss */
.form-control {
  margin-bottom: 1em;
}

/* line 832, ../sass/app.scss */
input {
  width: 100%;
  padding: 0.7em 0.78571429em;
  line-height: 1.625em;
  font-size: 1em;
}

/* line 840, ../sass/app.scss */
.fld-text {
  padding: 0.7em 0.78571429em;
  line-height: 1.625em;
  font-size: 1em;
  display: block;
  width: 100%;
}

/* line 848, ../sass/app.scss */
.file {
  padding: 0;
  font-size: 0.8em;
  width: auto;
  margin-right: 1em;
}

/* line 855, ../sass/app.scss */
.remove-button {
  display: block;
}
@media only screen and (min-width: 640px) {
  /* line 855, ../sass/app.scss */
  .remove-button {
    display: inline;
  }
}

/* line 863, ../sass/app.scss */
.fld-select {
  display: inline;
  margin-right: 1em;
  margin-bottom: 0;
}

/* line 869, ../sass/app.scss */
.label-dob {
  display: block;
}
@media only screen and (min-width: 640px) {
  /* line 869, ../sass/app.scss */
  .label-dob {
    display: inline;
  }
}

/* line 881, ../sass/app.scss */
.upload-label {
  display: block;
  margin-bottom: 0.6em;
}

/* line 886, ../sass/app.scss */
.help-block {
  display: block;
  text-align: left;
}

/* line 891, ../sass/app.scss */
.error-block {
  display: block;
  text-align: left;
  color: #a94442;
}

/* line 899, ../sass/app.scss */
.js-show-validation.ng-invalid {
  border: 2px solid #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 907, ../sass/app.scss */
.has-error input,
.has-error textarea,
.has-error select {
  border: 2px solid #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 915, ../sass/app.scss */
.waiting-icon {
  margin: 0 auto;
}

/* line 919, ../sass/app.scss */
.hidden {
  position: absolute;
  left: -9999px;
}

/* line 924, ../sass/app.scss */
input[type=checkbox] {
  cursor: pointer;
}

/* line 928, ../sass/app.scss */
.fld-more-info {
  margin-top: 1.5em;
}

/* line 933, ../sass/app.scss */
.form-group-checkbox {
  display: table;
  width: auto;
}
/* line 937, ../sass/app.scss */
.form-group-checkbox.invalid {
  border: 2px solid #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 944, ../sass/app.scss */
.form-group-left {
  float: left;
}

/* line 947, ../sass/app.scss */
.form-group-right {
  float: right;
}

/* line 951, ../sass/app.scss */
.checkbox-label {
  cursor: pointer;
}
/* line 954, ../sass/app.scss */
.checkbox-label .checkbox-mask {
  background: url("../images/checkbox_sprite_v2.png") no-repeat;
  background-position: -2px -2px;
  display: inline-block;
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 0.5em;
}
/* line 964, ../sass/app.scss */
.checkbox-label .checkbox-text {
  float: left;
  width: 80%;
  padding-top: 0.6em;
  line-height: 1.3em;
}
@media only screen and (min-width: 640px) {
  /* line 964, ../sass/app.scss */
  .checkbox-label .checkbox-text {
    width: 90%;
  }
}
/* line 976, ../sass/app.scss */
.checkbox-label.has-error .checkbox-mask {
  background-position: -2px -169px;
}
/* line 982, ../sass/app.scss */
.checkbox-label.checked .checkbox-mask {
  background-position: -2px -79px;
}
/* line 987, ../sass/app.scss */
.checkbox-label.hidden {
  position: absolute;
  left: -9999px;
  padding: 0;
  margin: 0;
  margin-right: 1em;
}

/* line 996, ../sass/app.scss */
.error-email-exists,
.error-file-type,
.error-file-size,
.error-country {
  display: none;
}

/* line 1002, ../sass/app.scss */
.ng-invalid-email-exists ~ .error-email-exists,
.ng-invalid-file-type ~ .error-file-type,
.ng-invalid-file-size ~ .error-file-size,
.ng-invalid-country ~ .error-country {
  display: block;
}

/* line 1010, ../sass/app.scss */
.btn-submit {
  display: block;
  margin: 1em auto;
  border: none;
  background: transparent;
  padding-left: 1.7em;
  padding-right: 1.7em;
  width: 96px;
  height: 32px;
  cursor: pointer;
  background: url("../images/submit_button_v2.png") no-repeat;
  clear: both;
}
@media only screen and (min-width: 640px) {
  /* line 1010, ../sass/app.scss */
  .btn-submit {
    margin: 0;
  }
}
/* line 1027, ../sass/app.scss */
.btn-submit.align-center {
  margin: 0 auto;
}

/***
*
*	Judges
*
***/
/* line 1038, ../sass/app.scss */
.helper-text {
  margin-bottom: 2em;
}

/* line 1042, ../sass/app.scss */
.reveal-list {
  margin-bottom: 1em;
}
/* line 1045, ../sass/app.scss */
.reveal-list li {
  margin-bottom: 1.48571429em;
}
/* line 1048, ../sass/app.scss */
.reveal-list li:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 1054, ../sass/app.scss */
.reveal-list .item-image {
  width: 64px;
  float: left;
  margin-right: 1em;
}
/* line 1060, ../sass/app.scss */
.reveal-list .item-name {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 64px;
  font-size: 1.2em;
  text-align: left;
  padding: 0 1em;
  color: #717171;
}
/* line 1073, ../sass/app.scss */
.reveal-list .item-name.item-name-grey {
  background: #e2e2e2 url("../images/arrow_menu_end.jpg") top right no-repeat;
}
/* line 1076, ../sass/app.scss */
.reveal-list .item-name.item-name-white {
  background: #fff url("../images/arrow_menu_end_white.jpg") top right no-repeat;
}
/* line 1080, ../sass/app.scss */
.reveal-list .item-name div {
  -webkit-align-self: center;
  -moz-align-self: center;
  -o-align-self: center;
  -ms-align-self: center;
  align-self: center;
}
/* line 1090, ../sass/app.scss */
.reveal-list .item-copy-mobile {
  margin-top: 0.971428571em;
  float: left;
  text-align: left;
}
/* line 1095, ../sass/app.scss */
.reveal-list .item-copy-mobile p:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1077px) {
  /* line 1102, ../sass/app.scss */
  .reveal-list li {
    width: 9.14285714em;
    margin-right: 0.64285714em;
    padding-top: 0.71428571em;
    padding-bottom: 2.28571429em;
    margin-bottom: 0;
    float: left;
  }
  /* line 1110, ../sass/app.scss */
  .reveal-list li.active {
    background: url("../images/active_triangle.png") bottom no-repeat;
  }
  /* line 1114, ../sass/app.scss */
  .reveal-list li .item-image {
    width: auto;
  }
  /* line 1118, ../sass/app.scss */
  .reveal-list li .item-name {
    font-size: 1.7em;
    line-height: 1.1em;
  }
}

@media only screen and (min-width: 1077px) {
  /* line 1130, ../sass/app.scss */
  .item-label {
    float: left;
    display: block;
  }
  /* line 1134, ../sass/app.scss */
  .item-label img {
    width: 100%;
  }

  /* line 1139, ../sass/app.scss */
  .item-copy-desktop {
    min-height: 24.0625em;
  }
  /* line 1143, ../sass/app.scss */
  .item-copy-desktop p:last-child {
    margin-bottom: 0;
  }

  /* line 1148, ../sass/app.scss */
  .partner-copy-desktop.item-copy-desktop {
    min-height: 13em;
  }
}
/* line 1153, ../sass/app.scss */
.partner-images {
  margin: 0 auto;
}
/* line 1156, ../sass/app.scss */
.partner-images li {
  /*
  float:left;
  margin-right:0.64285714em;
  padding-top:0.71428571em;
  padding-bottom:2.28571429em;
  */
}
/* line 1164, ../sass/app.scss */
.partner-images li:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 1170, ../sass/app.scss */
.partner-images .item-name {
  padding-left: 0;
}
@media only screen and (min-width: 1077px) {
  /* line 1153, ../sass/app.scss */
  .partner-images {
    margin-bottom: 1em;
    max-width: 28.75em;
  }
}

/***
*
*	Winners
*
***/
/* line 1186, ../sass/app.scss */
.winner {
  text-align: left;
}

/***
*
*	Footer
*
***/
/* line 1196, ../sass/app.scss */
.footer {
  margin-bottom: 2em;
}
/* line 1199, ../sass/app.scss */
.footer .logo {
  margin-top: 1em;
  float: none;
}
/* line 1206, ../sass/app.scss */
.footer .nav {
  margin-top: 1.5em;
}
/* line 1209, ../sass/app.scss */
.footer .nav ul {
  float: none;
}
/* line 1214, ../sass/app.scss */
.footer .speedtolead_img {
  float: left;
  clear: left;
}
@media only screen and (min-width: 1077px) {
  /* line 1221, ../sass/app.scss */
  .footer .logo {
    float: left;
  }
  /* line 1225, ../sass/app.scss */
  .footer .footer-right-side {
    float: right;
  }
  /* line 1228, ../sass/app.scss */
  .footer .footer-right-side .nav {
    float: left;
    margin-top: 0;
  }
  /* line 1232, ../sass/app.scss */
  .footer .footer-right-side .nav span {
    padding: 3.28571429em 0;
  }
  /* line 1236, ../sass/app.scss */
  .footer .footer-right-side .speedtolead_img {
    float: right;
    clear: none;
  }
}

/* line 1245, ../sass/app.scss */
.body-copy-list li {
  margin-bottom: 1em;
}

/* line 1250, ../sass/app.scss */
.faq-item {
  text-align: left;
  margin-bottom: 1.5em;
}
/* line 1254, ../sass/app.scss */
.faq-item .faq-item-question {
  font-size: 1.3em;
  font-weight: bold;
}
/* line 1261, ../sass/app.scss */
.faq-item .faq-item-answer > ul {
  margin-left: 0;
}
/* line 1266, ../sass/app.scss */
.faq-item ul {
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

/***
*
*	Route-specific
*
***/
/* line 1282, ../sass/app.scss */
.small-print {
  font-style: italic;
  font-size: 0.9em;
  line-height: 1.4em;
}
/* line 1287, ../sass/app.scss */
.small-print.push-down {
  margin-top: 3em;
}

/* line 1292, ../sass/app.scss */
sup.note {
  color: #3d86c6;
  font-weight: bold;
}

@media only screen and (min-width: 1077px) {
  /* line 1297, ../sass/app.scss */
  .legal-footer {
    margin: 3em auto;
    text-align: center;
  }
}

/* line 1303, ../sass/app.scss */
.legal-print {
  font-size: 0.9em;
  line-height: 1.4em;
}

/* line 1309, ../sass/app.scss */
.align-left {
  text-align: left;
}

/***
*
*	Util
*
***/
/* line 1319, ../sass/app.scss */
.text-align-left {
  text-align: left;
}

/* line 1323, ../sass/app.scss */
.strong {
  font-weight: bold;
}

/* line 1327, ../sass/app.scss */
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 0.7em;
}

/* line 1333, ../sass/app.scss */
sub {
  top: 0.4em;
}

/* line 1335, ../sass/app.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
