<div class="flexslider">
	<ul class="slides clearfix">
		<li class="slide">
				<img src="./js/lib/flexslider2/demo/images/kitchen_adventurer_caramel.jpg" alt="">
				<div class="caption"></div>
		</li>
		<li class="slide">
				<img src="./js/lib/flexslider2/demo/images/kitchen_adventurer_cheesecake_brownie.jpg" alt="">
				<div class="caption"></div>
			</li>
		<li class="slide">
				<img src="./js/lib/flexslider2/demo/images/kitchen_adventurer_donut.jpg" alt="">
				<div class="caption"></div>
			</li>
		<li class="slide">
				<img src="./js/lib/flexslider2/demo/images/kitchen_adventurer_lemon.jpg" alt="">
				<div class="caption"></div>
			</li>
	</ul>
</div>