
<div class="challenge-hero site-container">
	<div class="media-container">
		<img class="video_placeholder" src="https://f1-innovation-prize.s3.amazonaws.com/video/CHALLENGE_1_NEW_END_FRAME0_COMPETITION_CLOSED.jpg" alt="">
		<video id="challenge-1-film" data-uid="challenge-1-film" data-player-kit="1" poster="https://f1-innovation-prize.s3.amazonaws.com/video/CHALLENGE_1_NEW_END_FRAME0_COMPETITION_CLOSED.jpg" title="F1 CONNECTIVITY INNOVATION PRIZE - Challenge 1" controls-visibility="autohide" preload="none" data-sublime-player>
		  <source src="https://f1-innovation-prize.s3.amazonaws.com/video/F1_CONNECTIVITY_CHALLENGE_1_V5_CHALLENGE_CLOSED_LOW.mp4" />
		  <source src="https://f1-innovation-prize.s3.amazonaws.com/video/F1_CONNECTIVITY_CHALLENGE_1_V5_CHALLENGE_CLOSED_HIGH.mp4" data-quality="hd" />
		</video>
	</div>
</div>

<div class="intro site-container">
	<div class="site-container">
		<div class="content-container bottom-padding">
			<h2 class="section-heading">Challenge 1 winner announcement</h2>
			
			<div ng-switch="challengeState.challenge_1.open" class="bottom-padding">
				<div ng-switch-when="true">
					<p>Challenge 1 requires entrants to demonstrate new and insightful information that can be derived from Formula One Management’s live data feeds, and propose how this new information could be visually packaged in order to add suspense and excitement to the audience experience.</p>
					<p>The challenge<sup>1</sup> provides the scope for entrants to not only define the data form, but also visualise it for application in any form, ranging from TV graphics to an additional data page to complement the information that is currently presented by Formula One Management to F1 teams, the media, guests of the Formula One Paddock Club<sup>&trade;</sup> and the consumers via Formula1.com and the Official F1<sup>&reg;</sup> app.</p>
					<p>The challenge will require entrants to demonstrate both their creative flair and technical knowledge in their submission and provide a compelling vision.</p>
					<p>For more information, download the Challenge Brief and enter via the submission form below and we will award a grand prize of USD $50,000 to a winning individual or team<sup>2</sup>. Other prizes include VIP trips to the FORMULA 1 GRAND PRIX DE MONACO 2015.<sup>3</sup></p>
					<p class="small-print"><sup>1</sup> No purchase necessary. Official Rules identifying (i) who is eligible to participate; (ii) how to participate, (iii) how winners will be selected, and (iv) a description of the prizes available are available here.</p>
					<p class="small-print"><sup>2</sup> Unless otherwise indicated in the Official Rules, all cash prizes will be divided equally among all officially registered members of a registered team.</p>
					<p class="small-print"><sup>3</sup> Dates to be confirmed.</p>
					<p ng-show="challengeState.challenge_1.open">
						<a class="download-link" target="_blank" href="http://f1-innovation-prize.s3.amazonaws.com/challenge_packs/The%20F1%20Connectivity%20Innovation%20Prize%20%E2%80%93%20Challenge%201%20Brief.pdf">Download full brief</a>
					</p>
					<p ng-show="challengeState.challenge_1.open">
						<a class="download-link" href="https://s3-eu-west-1.amazonaws.com/f1-innovation-prize/challenge_packs/Formula+One+Management+Live+Data+Files.zip">Download sample data set</a>
					</p>
				</div>
				<div ng-switch-when="false">
					<div ng-switch="challengeState.challenge_1.judging">
						<div ng-switch-when="inProgress">
							<p>Challenge 1 – The Formula One Management Data Screen Challenge – is now closed. Winners will be announced on or after 5th August 2014.</p>
							<p>We will be announcing details of Challenge 2 on 3<sup>rd</sup>sup> September 2014<sup>1</sup></p>
							<p>In the meantime, sign up <a href="/home#register">here</a> to receive competition updates. You can also follow us <a href="http://twitter.com/tata_comm">@tata_comm</a> and join in the conversation <a href="https://twitter.com/search?q=tatacommsf1prize">#tatacommsf1prize</a>.</p>
							<p class="small-print"><sup>1</sup> No purchase necessary. Official Rules identifying (i) who is eligible to participate; (ii) how to participate, (iii) how winners will be selected, and (iv) a description of the prizes available are available here.</p><br>
						</div>
						<div ng-switch-when="announce">
							<div class="align-left">
								<p>We are delighted to announce winners of Challenge 1.</p>
								<p>Each entry wins two VIP trips to the glamorous FORMULA 1 GRAND PRIX DE MONACO 2015 (Dates to be confirmed), and will also qualify for the shortlist of 6 winners leading up to the Grand Prize of USD &dollar;50,000.</p>
							</div>
							<div class="winner">
								<h2>Winning entry 1: Chris Thelwell - UK</h2>
								<p>Chris’ solution to the Challenge was to make real-time data accessible to all by creating a new open-source data humanisation service that brings the data to life.</p>
								<p>The solution proposes taking an XML feed from the F1<sup>&reg;</sup> data set and comparing it to historical data to generate a human story angle from the findings. It does this by identifying significant events using logic statements, creating a new text based story from a set of event templates and translating them into multiple languages. It then attaches meta data to each story and ranks them using a set of pre-set metrics, before delivering a feed via a RESTful API. Services then collect the API and disseminate the story via their own channels.</p>
								<p>One particularly interesting element of this solution was the ability of the system to feed into not only mobile devices for fans, but wearable technology for track-side technical and engineering staff and audible screen reading technology used by blind and partially sighted fans</p>
							</div>
							<div class="winner">
								<h2>Winning entry 2: Ben Lambert, Will Horner-Glister, Mike Albers &amp; Fabian Birgfeld - UK</h2>

								<p>The team, headed by Ben, suggested segmenting consumption of the F1<sup>&reg;</sup> data set by user group, defining these as ‘The Team’, ‘The Enthusiasts’ and ‘The Fans’.</p>
								<p>The Team, i.e. engineers/team personnel, officials and technical suppliers at the race track would essentially receive the same data feed however it would be enhanced for readability and user-control. Ben’s team suggested doing this by using the typeface adopted by Boeing EICAS displays, which has passed numerous studies into legibility in high stress situations. They also suggested timeline-based graphics that can be extrapolated, such as mean or historic sector time, to add context and create relevance. The feed would be delivered over an API and web-based technology to give engineers a simple but effective control of the display.</p>
								<p>For The Enthusiasts, i.e. hardcore fans who consume every single session via multi-screening to extract as much information as possible, Ben’s team proposed the invention of a new timing device in the form of a circular graphic. This would form part of an overhaul of the data representation, brought to life in a fully-interactive and responsive digital ecosystem that is personalised based on the team-support won by The Enthusiast and their individual consumption needs.</p>
								<p>The Fans are those that watch Qualifying on a Saturday, the race on a Sunday and take an active interest in what’s happening on track with marginal requirement to consume data. Ben’s team proposed a simplified version of the digital ecosystem that overlays key data streams onto technology that incorporates view-selection for the camera feed and operates on mobile devices and connected televisions. They highlighted this with some beautifully clean and simple visuals.</p>
							</div>
							<br>
							
							<div class="align-left">
								<p>You still have a chance of winning the Grand Prize AND a trip to the FORMULA 1 GRANDE PRIX DE MONACO 2015<sup>1</sup>, by entering Challenge 2 or Challenge 3. Challenge 2 launches 3<sup>rd</sup> September 2014 and Challenge 3 on 29<sup>th</sup> October 2014<sup>2</sup>.</p>
								<p>Keep an eye on the F1<sup>&reg;</sup> Connectivity Innovation Prize website or sign-up <a href="/home#register">here</a> for upcoming challenge updates. You can also follow us via twitter <a href="http://twitter.com/tata_comm">@tata_comm</a> or use <a href="https://twitter.com/search?q=tatacommsf1prize">#tatacommsf1prize</a>.</p>
							</div>
							<br>
							<p class="small-print"><sup>1</sup> Dates to be confirmed.</p>

							<p class="small-print"><sup>2</sup> No purchase necessary. Official Rules identifying who is eligible to participate; (ii) how to participate, (iii) how winners will be selected, and (iv) a description of the prizes are available <a href="#rules">here</a>.</p>

							<p class="small-print"><sup>3</sup> Unless otherwise indicated in the Official Rules, all cash prizes will be divided equally among all officially registered members of a registered team.</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="enter bg-tata-green">
	<div class="site-container">
		<div class="content-container bottom-padding">
			<div ng-show="challengeState.challenge_1.open">

				<div ng-switch="formState.submissionComplete">
					<div ng-switch-when="false">
					
						<h2 class="section-heading">Enter</h2>
						<p>Please use the submission form below to submit your entry.</p>
						<div class="form-control">
							<label class="fld-label" class="form-control-heading">Select your entry type</label>
							<select name="entry_type" ng-model="entry.type">
								<option value="individual">Individual</option>
								<option value="team">Team</option>
							</select>
						</div>

						<!--

						Entry forms begin here.

						Ng-switch directive controls which form displays based on the value of entry.tyoe

						-->
						<div ng-switch="entry.type">

							<!-- This snippet shows when the user selects 'individual' from the entry type dropdown -->
							<div ng-switch-when="individual">
								
								<form name="entryFormIndividual" class="form clearfix" novalidate>
									<div class="form-control">
										<label class="fld-label" for="field-country">Country of residence</label>
										<select name="country" id="country" ng-model="entry.individual.country" data-validate data-validate required>
											<option value="">Please choose</option>
											<option ng-repeat="country in ['Australia','Brazil','Canada – Ontario','Canada - Nova Scotia','Canada - New Brunswick','Canada – Manitoba','Canada - British Columbia','Canada - Prince Edward Island','Canada – Saskatchewan','Canada – Alberta','Canada - Newfoundland and Labrador','Finland','Germany','Hong Kong','India','Norway','Singapore','Spain','United Kingdom','United State']" value="{{country}}">{{country}}</option>
										</select>
										<span ng-show="formState.entryFormIndividual.submitted && entryFormIndividual.country.$invalid && entryFormIndividual.country.$pristine" class="error-block">Please select your country</span>
										<span class="error-block error-country">Unfortunately we are unable to accept entries from your country. To view the full list of eligible countries please refer to the <a href="/rules">Official Rules</a>. Sign up with your details <a href="/home#register">here</a> and stay updated on the F1&reg; Connectivity Innovation prize. You can follow us on Twitter <a href="https://twitter.com/tata_comm">@tata_comm</a> and join in the conversation <a href="https://twitter.com/hashtag/tatacommsf1prize?src=hash">#tatacommsf1prize</a>.</span>
									</div>

									<div class="form-control">
										<input type="text" id="first_name" name="first_name" placeholder="First name" ng-model="entry.individual.first_name" data-validate data-validate required>
										<span ng-show="formState.entryFormIndividual.submitted && (entryFormIndividual.first_name.$invalid && entryFormIndividual.first_name.$pristine)" class="error-block">Please enter your first name</span>
									</div>

									<div class="form-control">
										<input type="text" id="last_name" name="last_name" placeholder="Last name" ng-model="entry.individual.last_name" data-validate data-validate required>
										<span ng-show="formState.entryFormIndividual.submitted && (entryFormIndividual.last_name.$invalid && entryFormIndividual.last_name.$pristine)" class="error-block">Please enter your last name</span>
									</div>

									<div class="form-control">
										<label class="fld-label label-dob" for="field-dob">Date of birth</label>
										<select id="dob_day" name="dob_day" class="fld-select	" ng-model="entry.individual.dob_day" data-validate data-validate required>
											<option value="">Day</option>
											<option ng-repeat="num in [] | range:31" value="{{num}}">{{num}}</option>
										</select>
										<select id="dob_month" name="dob_month" class="fld-select	" ng-model="entry.individual.dob_month" data-validate data-validate required>
											<option value="">Month</option>
											<option ng-repeat="month in ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] track by $index" value="{{$index+1 | leadingZero}}">{{month}}</option>
										</select>
										<select id="dob_year" name="dob_year" class="fld-select	" ng-model="entry.individual.dob_year" data-validate data-validate required>
											<option value="">Year</option>
											<option ng-repeat="num in [] | range:[1900,1996]" value="{{num}}">{{num}}</option>
										</select>
										<span ng-show="formState.entryFormIndividual.submitted && (!entryFormIndividual.dob_day.$dirty || !entryFormIndividual.dob_month.$dirty || !entryFormIndividual.dob_year.$dirty)" class="error-block">Please select your date of birth</span>
									</div>

									<div class="form-control">
										<input type="email" id="email" name="email" placeholder="Email address" ng-model="entry.individual.email" ng-pattern="/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i" data-check-email-exists required data-validate>
										<span ng-show="formState.entryFormIndividual.submitted && entryFormIndividual.email.$invalid && entryFormIndividual.email.$pristine" class="error-block">Please enter your email</span>
										<span class="error-email-exists error-block">Email already submitted</span>
									</div>
									
									<div class="form-control">
										<input type="email" id="confirm_email" name="confirm_email" placeholder="Confirm email address" ng-model="entry.individual.confirm_email" data-confirm-email="entry.individual.email" data-prevent-paste data-validate data-validate required>
										<span ng-show="formState.entryFormIndividual.submitted && entryFormIndividual.confirm_email.$invalid && entryFormIndividual.confirm_email.$pristine" class="error-block">Please confirm your email</span>
									</div>

									<div class="form-control">
										<input type="text" id="phone_number" name="phone_number" placeholder="Phone number" ng-model="entry.individual.phone_number" data-validate data-validate required>
										<span ng-show="formState.entryFormIndividual.submitted && entryFormIndividual.phone_number.$invalid && entryFormIndividual.phone_number.$pristine" class="error-block">Please enter your phone number</span>
									</div>

									<div class="form-control">
										<label class="fld-label" for="field-source">How did you hear about this challenge?</label>
										<select name="referral_id" ng-model="entry.individual.referral_id" data-validate data-validate required>
											<option value="">Please choose</option>
											<option ng-repeat="source in ['News website','Other website','Social media','Colleague/business associate','Friends and family','Search engine','Other'] track by $index" value="{{$index}}">{{source}}</option>
										</select>
										<span ng-show="formState.entryFormIndividual.submitted && entryFormIndividual.referral.$pristine" class="error-block">Please select an option</span>
										<div class="form-control" ng-show="entry.individual.referral_id == 0 || entry.individual.referral_id == 1 || entry.individual.referral_id == 3 || entry.individual.referral_id == 6">
											<label class="fld-label">Please state where...</label>
											<textarea id="referral_text" class="fld-text" name="referral_text" rows="2" ng-model="entry.individual.referral_text" data-validate></textarea>
										</div>
									</div>

									<div class="form-control">
										<label class="fld-label" for="field-supporting_text">Enter your supporting text</label>
										<span class="help-block">Min 200 words, max 1000 words</span>
										<textarea class="fld-text txt-supporting_text" name="supporting_text" rows="8" ng-model="entry.individual.supporting_text" data-valid-word-range="[200,1000]" data-validate data-validate required></textarea>
										<span ng-show="formState.entryFormIndividual.submitted && entryFormIndividual.supporting_text.$pristine" class="error-block">Please enter your supporting text.</span>
									</div>

									<div class="form-group upload-section">
										<label class="fld-label upload-label">Upload supporting file/s.</label>
										<p class="help-block">You must submit at least one, but no more than three supporting files.<br>Acceptable file type are PDF, JPG, JPEG &amp; PNG. Max file size per upload is 5 MB.</p>
										<div class="form-control clearfix">
											<input class="file" name="upload1" type="file" file-model="entry.individual.upload1" ng-model="entry.individual.upload1" data-removable required>
											<span ng-show="formState.entryFormIndividual.submitted && entryFormIndividual.upload1.$pristine" class="error-block">Please upload at least 1 file</span>
											<span class="error-file-size error-block">File size larger than 5MB</span>
											<span class="error-file-type error-block">File type not supported</span>
										</div>
										<div class="form-control clearfix">
											<input class="file" id="teamUpload2" name="upload2" type="file" file-model="entry.individual.upload2" ng-model="entry.individual.upload2" data-removable>
											<span class="error-file-size error-block">File size larger than 5MB</span>
											<span class="error-file-type error-block">File type not supported</span>
										</div>
										<div class="form-control clearfix">
											<input class="file" name="upload3" type="file" file-model="entry.individual.upload3" ng-model="entry.individual.upload3" data-removable>
											<span class="error-file-size error-block">File size larger than 5MB</span>
											<span class="error-file-type error-block">File type not supported</span>
										</div>
									</div>

									<p class="strong">Only 2 VIP trips will be awarded per winning entry per challenge.</p>
									<p class="strong">You will NOT be able to alter your submission in any way after pressing SUBMIT. All entries are final. You can only enter each challenge once either as an individual or as part of a team.</p>

									<div class="form-control form-control-checkbox clearfix">
										<label class="fld-label checkbox-label" data-augment-checkbox id="fld-terms-label">
											<input id="fld-terms" class="checkbox hidden" type="checkbox" name="terms" ng-model="entry.individual.terms" required>
											<span class="checkbox-mask"></span>
											<span class="checkbox-text">I agree to the <a href="#rules" target="_blank">Official Rules</a> of the contest</span>
										</label>
									</div>

									<img class="waiting-icon" ng-show="challengeState.response == 'waiting'" src="./images/submit_loading_05.gif" alt="">
									<button ng-show="challengeState.response == null" class="btn-submit align-center" ng-click="submitEntry(entryFormIndividual)">Submit</button>
								</form>
							</div>

							<!-- This snippet shows when the user selects 'team' from the entry type dropdown -->
							<div ng-switch-when="team">
								<form name="entryFormTeam" class="form clearfix" novalidate>

									<p>Teams may have no more than 4 individuals</p>

									<div class="form-control">
										<label class="fld-label" for="field-country">Country of residence</label>
										<select name="country" id="country" ng-model="entry.team.country" data-validate required>
											<option value="">Please choose</option>
											<option ng-repeat="country in ['Australia','Brazil','Canada – Ontario','Canada - Nova Scotia','Canada - New Brunswick','Canada – Manitoba','Canada - British Columbia','Canada - Prince Edward Island','Canada – Saskatchewan','Canada – Alberta','Canada - Newfoundland and Labrador','Finland','Germany','Hong Kong','India','Norway','Singapore','Spain','United Kingdom','United State']" value="{{country}}">{{country}}</option>
										</select>
										<span ng-show="formState.entryFormTeam.submitted && entryFormTeam.country.$invalid && entryFormTeam.country.$pristine" class="error-block">Please select your country</span>
										<span class="error-block error-country">Unfortunately we are unable to accept entries from your country. To view the full list of eligible countries please refer to the <a href="/rules">Official Rules</a>. Sign up with your details <a href="/home#register">here</a> and stay updated on the F1&reg; Connectivity Innovation prize. You can follow us on Twitter <a href="https://twitter.com/tata_comm">@tata_comm</a> and join in the conversation <a href="https://twitter.com/hashtag/tatacommsf1prize?src=hash">#tatacommsf1prize</a>.</span>
									</div>

									<div class="form-control">
										<label class="fld-label" for="field-source">How did you hear about this challenge?</label>
										<select name="referral_id" ng-model="entry.team.referral_id" data-validate required>
											<option value="">Please choose</option>
											<option ng-repeat="source in ['News website','Other website','Social media','Colleague/business associate','Friends and family','Search engine','Other'] track by $index" value="{{$index}}">{{source}}</option>
										</select>
										<span ng-show="formState.entryFormTeam.submitted && entryFormTeam.referral_id.$pristine" class="error-block">Please select an option</span>
										<div class="form-control" ng-show="entry.team.referral_id == 0 || entry.team.referral_id == 1 || entry.team.referral_id == 3 || entry.team.referral_id == 6">
											<label class="fld-label">Please state where...</label>
											<textarea id="team_referral_text" class="fld-text" name="referral_text" rows="2" ng-model="entry.team.referral_text"></textarea>
										</div>
									</div>

									<div class="form-control">
										<label class="fld-label" class="form-control-heading">Team leader</label>
										<input type="text" id="leader_first_name" name="leader_first_name" placeholder="First name" ng-model="entry.team.leader_first_name" data-validate required>
										<span ng-show="formState.entryFormTeam.submitted && entryFormTeam.leader_first_name.$invalid && entryFormTeam.leader_first_name.$pristine" class="error-block">Please enter your first name</span>
									</div>

									<div class="form-control">
										<input type="text" id="leader_last_name" name="leader_last_name" placeholder="Last name" ng-model="entry.team.leader_last_name" data-validate required>
										<span ng-show="formState.entryFormTeam.submitted && entryFormTeam.leader_last_name.$invalid && entryFormTeam.leader_last_name.$pristine" class="error-block">Please enter your last name</span>
									</div>

									<div class="form-control">
										<label class="fld-label label-dob" for="field-dob">Date of birth</label>
										<select id="leader_dob_day" name="leader_dob_day" class="fld-select" ng-model="entry.team.leader_dob_day" data-validate required>
											<option value="">Day</option>
											<option ng-repeat="num in [] | range:31" value="{{num}}">{{num}}</option>
										</select>
										<select id="leader_dob_month" name="leader_dob_month" class="fld-select" ng-model="entry.team.leader_dob_month" data-validate required>
											<option value="">Month</option>
											<option ng-repeat="month in ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] track by $index" value="{{$index+1 | leadingZero}}">{{month}}</option>
										</select>
										<select id="leader_dob_year" name="leader_dob_year" class="fld-select" ng-model="entry.team.leader_dob_year" data-validate required>
											<option value="">Year</option>
											<option ng-repeat="num in [] | range:[1900,1996]" value="{{num}}">{{num}}</option>
										</select>
										<span ng-show="formState.entryFormTeam.submitted && (entryFormTeam.leader_dob_day.$pristine && entryFormTeam.leader_dob_month.$pristine && entryFormTeam.leader_dob_year.$pristine)" class="error-block">Please select your date of birth</span>
									</div>

									<div class="form-control">
										<input type="email" id="leader_email" name="leader_email" placeholder="Email address" ng-model="entry.team.leader_email" ng-pattern="/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i" data-check-email-exists data-validate required>
										<span ng-show="formState.entryFormTeam.submitted && entryFormTeam.leader_email.$invalid && entryFormTeam.leader_email.$pristine" class="error-block">Please enter your email</span>
										<span ng-show="entryFormTeam.leader_email.$invalid-email-exists && entryFormTeam.leader_email.$dirty" class="error-email-exists error-block">Email already submitted</span>
									</div>
									
									<div class="form-control">
										<input type="email" id="leader_confirm_email" name="leader_confirm_email" placeholder="Confirm email address" ng-model="entry.team.leader_confirm_email" data-prevent-paste data-confirm-email="entry.team.leader_email" data-validate required>
										<span ng-show="formState.entryFormTeam.submitted && entryFormTeam.leader_confirm_email.$invalid && entryFormTeam.leader_confirm_email.$pristine" class="error-block">Please confirm your email</span>
									</div>

									<div class="form-control">
										<input type="text" id="phone_number" name="phone_number" placeholder="Phone number" ng-model="entry.team.phone_number" data-validate required>
										<span ng-show="formState.entryFormTeam.submitted && entryFormTeam.phone_number.$invalid && entryFormTeam.phone_number.$pristine" class="error-block">Please enter your phone number</span>
									</div>

									<p>If we need to communicate with your team, all communications will be sent to the team leader.</p>

									<!-- member 1 -->
									<div class="form-control">
										<label class="fld-label" class="form-control-heading">Team member</label>
										<input type="text" id="member_1_first_name" name="member_1_first_name" placeholder="First name" ng-model="entry.team.member_1_first_name" data-validate required>
										<span ng-show="formState.entryFormTeam.submitted && entryFormTeam.member_1_first_name.$invalid && entryFormTeam.member_1_first_name.$pristine" class="error-block">Please enter your first name</span>
									</div>

									<div class="form-control">
										<input type="text" id="member_1_last_name" name="member_1_last_name" placeholder="Last name" ng-model="entry.team.member_1_last_name" data-validate required>
										<span ng-show="formState.entryFormTeam.submitted && entryFormTeam.member_1_last_name.$invalid && entryFormTeam.member_1_last_name.$pristine" class="error-block">Please enter your last name</span>
									</div>

									<div class="form-control">
										<label class="fld-label label-dob" for="field-dob">Date of birth</label>
										<select name="entryFormTeam.member_1_dob_day" class="fld-select" ng-model="entry.team.member_1_dob_day" data-validate required>
											<option value="">Day</option>
											<option ng-repeat="num in [] | range:31" value="{{num}}">{{num}}</option>
										</select>
										<select name="member_1_dob_month" class="fld-select" ng-model="entry.team.member_1_dob_month" data-validate required>
											<option value="">Month</option>
											<option ng-repeat="month in ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] track by $index" value="{{$index+1 | leadingZero}}">{{month}}</option>
										</select>
										<select name="member_1_dob_year" class="fld-select" ng-model="entry.team.member_1_dob_year" data-validate required>
											<option value="">Year</option>
											<option ng-repeat="num in [] | range:[1900,1996]" value="{{num}}">{{num}}</option>
										</select>
										<span ng-show="formState.entryFormTeam.submitted && (entryFormTeam.member_1_dob_day.$pristine && entryFormTeam.member_1_dob_month.$pristine && entryFormTeam.member_1_dob_year.$pristine)" class="error-block">Please select your date of birth</span>
									</div>
									
									<!-- member 2 -->
									<div class="form-control">
										<label class="fld-label" class="form-control-heading">Team member</label>
										<input type="text" name="member_2_first_name" placeholder="First name" ng-model="entry.team.member_2_first_name">
									</div>

									<div class="form-control">
										<input type="text" name="member_2_last_name" placeholder="Last name" ng-model="entry.team.member_2_last_name">
									</div>

									<div class="form-control">
										<label class="fld-label label-dob" for="field-dob">Date of birth</label>
										<select name="member_2_dob_day" class="fld-select" ng-model="entry.team.member_2_dob_day">
											<option value="">Day</option>
											<option ng-repeat="num in [] | range:31" value="{{num}}">{{num}}</option>
										</select>
										<select name="member_2_dob_month" class="fld-select" ng-model="entry.team.member_2_dob_month">
											<option value="">Month</option>
											<option ng-repeat="month in ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] track by $index" value="{{$index+1 | leadingZero}}">{{month}}</option>
										</select>
										<select name="member_2_dob_year" class="fld-select" ng-model="entry.team.member_2_dob_year">
											<option value="">Year</option>
											<option ng-repeat="num in [] | range:[1900,1996]" value="{{num}}">{{num}}</option>
										</select>
									</div>

									<!-- Member 3 -->
									<div class="form-control">
										<label class="fld-label" class="form-control-heading">Team member</label>
										<input type="text" name="member_3_first_name" placeholder="First name" ng-model="entry.team.member_3_first_name">	
									</div>

									<div class="form-control">
										<input type="text" name="member_3_last_name" placeholder="Last name" ng-model="entry.team.member_3_last_name">
									</div>

									<div class="form-control">
										<label class="fld-label label-dob" for="field-dob">Date of birth</label>
										<select name="member_3_dob_day" class="fld-select" ng-model="entry.team.member_3_dob_day">
											<option value="">Day</option>
											<option ng-repeat="num in [] | range:31" value="{{num}}">{{num}}</option>
										</select>
										<select name="member_3_dob_month" class="fld-select" ng-model="entry.team.member_3_dob_month">
											<option value="">Month</option>
											<option ng-repeat="month in ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] track by $index" value="{{$index+1 | leadingZero}}">{{month}}</option>
										</select>
										<select name="member_3_dob_year" class="fld-select" ng-model="entry.team.member_3_dob_year">
											<option value="">Year</option>
											<option ng-repeat="num in [] | range:[1900,1996]" value="{{num}}">{{num}}</option>
										</select>
									</div>

									<div class="form-control">
										<label class="fld-label" for="field-supporting_text">Enter your supporting text</label>
										<span class="help-block">Min 200 words, max 1000 words</span>
										<textarea name="supporting_text" rows="8" class="fld-text txt-supporting_text" ng-model="entry.team.supporting_text" data-valid-word-range="[200,1000]" data-validate required></textarea>
										<span ng-show="formState.entryFormTeam.submitted && entryFormTeam.supporting_text.$pristine && entryFormTeam.supporting_text.$invalid" class="error-block">Please enter your supporting text.</span>
									</div>

									<div class="form-control upload-section">
										<label class="fld-label upload-label">Upload supporting file/s</label>
										<p class="help-block">You must submit at least one, but no more than three supporting files.<br>Acceptable file type are PDF, JPG, JPEG &amp; PNG. Max file size per upload is 5 MB.</p>
										<div class="form-control clearfix">
											<input class="file" name="upload1" type="file" file-model="entry.team.upload1" ng-model="entry.team.upload1" data-removable required>
											<span ng-show="formState.entryFormTeam.submitted && entryFormTeam.upload1.$invalid" class="error-block">Please upload at least 1 file</span>
											<span class="error-file-size error-block">File size larger than 5MB</span>
											<span class="error-file-type error-block">File type not supported</span>
										</div>
										<div class="form-control clearfix">
											<input class="file" name="upload2" type="file" file-model="entry.team.upload2" ng-model="entry.team.upload2" data-removable>
											<span class="error-file-size error-block">File size larger than 5MB</span>
											<span class="error-file-type error-block">File type not supported</span>
										</div>
										<div class="form-control clearfix">
											<input class="file" name="upload3" type="file" file-model="entry.team.upload3" ng-model="entry.team.upload3" data-removable>
											<span class="error-file-size error-block">File size larger than 5MB</span>
											<span class="error-file-type error-block">File type not supported</span>
										</div>
									</div>

									<p class="strong">Only 2 VIP trips will be given per winning entry per. For the winning team, the team lead will be responsible to share the names of the two team members to avail the prize</p>
									<p class="strong">You will NOT be able to alter your submission in any way after pressing SUBMIT. All entries are final. You can only enter each challenge once either as an individual or as part of a team.</p>

									<div class="form-control form-control-checkbox clearfix">
										<label class="fld-label checkbox-label clearfix" data-augment-checkbox id="fld-terms-label">
											<input id="fld-terms" class="checkbox hidden" type="checkbox" name="terms" ng-model="entry.team.terms" data-validate required>
											<span class="checkbox-mask"></span>
											<span class="checkbox-text">I agree to the <a href="#rules" target="_blank">Official Rules</a> of the contest</span>
										</label>
									</div>

									<img class="waiting-icon" ng-show="challengeState.response === 'waiting'" src="./images/submit_loading_05.gif" alt="">
									<button ng-show="challengeState.response == null" class="btn-submit align-center" ng-click="submitEntry(entryFormTeam)">Submit</button>
								</form>

							</div>
						</div>
					</div>
					<div ng-switch-when="true">
						<h3 class="heading post-submit-heading">Thank you for your entry</h3>
						<p>You have successfully submitted your entry to The F1<sup>&reg;</sup> Connectivity Innovation Prize.<br>Good luck and keep an eye out for details of the next Challenge.</p>
						<p>For news and updates follow <a href="https://twitter.com/tata_comm">@tata_comm</a> and join in the conversation <a href="https://twitter.com/hashtag/tatacommsf1prize?src=hash">#tatacommsf1prize</a>.</p>
						<div class="share post-entry">

				            <ul class="share-buttons group">
				              <li class="share-icon push-linkedin">
				                  <a class="facebook-icon" href="https://www.facebook.com/sharer/sharer.php?u=http://prize.tatacommunications.com" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no');return false;">
				                  </a>                            
				              </li>
				              <li class="share-icon">
				                  <a class="linkedin-icon" ng-href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fprize.tatacommunications.com&amp;title=F1%20Connectivity%20Innovation%20Prize&amp;summary=I%27ve%20just%20entered%20Challenge%20{{challengeState.current_challenge}}%20for%20the%20F1%20Connectivity%20Innovation%20Prize.%0A%0AWish%20me%20luck!%20Check%20out%20%40tata_comm%20F1%20Connectivity%20Innovation%20Prize%3A%20http%3A%2F%2Fbit.ly%2F1kxMr7o.%20%23tatacommsf1prize&amp;source=http%3A%2F%2Fprize.tatacommunications.com" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no');return false;">
				                </a>
				              </li>
				              <li class="share-icon">
				                  <a class="twitter-icon" id="ref_tw" ng-href="http://twitter.com/home?status=I%27ve%20just%20entered%20Challenge%20{{challengeState.current_challenge}}%20for%20the%20F1%20Connectivity%20Innovation%20Prize.%0A%0AWish%20me%20luck!%20Check%20out%20%40tata_comm%20F1%20Connectivity%20Innovation%20Prize%3A%20http%3A%2F%2Fbit.ly%2F1kxMr7o.%20%23tatacommsf1prize" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no');return false;">
				                  </a>
				              </li>
				            </ul>
				            <p class="share-text">Share your entry!</p>
				          </div>
			          </div>
		          </div>
				</div>
			</div> <!-- Submission complete condition ends -->
		</div>
	</div>
</div>
