<div class="site-container">
	<div class="content-container">
		<h2 class="section-heading">FAQs</h2>
		<ul>
			<li class="faq-item">
				<div class="faq-item-question">
					<p>Who can enter the F1 Connectivity Innovation Prize?  </p>
				</div>
				<div class="faq-item-answer">
					<p>The F1&reg; Connectivity Innovation Prize is open to anyone above the age of 18 years old, who is permanent resident in any one of the eligible countries listed in the Official Rules.</p>
					<p>For reasons of legality in certain countries and territories, we are unfortunately not able to accept entries from everywhere. Whist we have ensured that we make the F1 Connectivity Innovation prize open to as many people as possible, the restrictions in place by governing authorities has meant we must restrict the contest to the markets listed in the Official Rules.</p>
					<p>For full entry criteria, please see the <a href="/rules">Official Rules</a>.</p>
				</div>
			</li>
			<li class="faq-item">
				<div class="faq-item-question">
					<p>Can I enter as part of a team?</p>
				</div>
				<div class="faq-item-answer">
					<p>Teams with a maximum of four participants are eligible to enter. All team members should be above the age of 18.</p>
					<p>For full entry criteria, please see the <a href="/rules">Official Rules</a>.</p>
				</div>
			</li>
			<li class="faq-item">
				<div class="faq-item-question">
					<p>Can I enter more than one Challenge?</p>
				</diV>
				<div class="faq-item-answer">
					<p>You can enter just one, two or all three of the Challenges. The winning entries are judged in isolation and based on the merit of each individual entry. However, each challenge will be judged independently of the other and separate winners will be declared.</p>
				</div>
			</li>
			<li class="faq-item">
				<div class="faq-item-question">
					<p>I work for a Tata Group company. Can I enter the F1 Connectivity Innovation Prize?</p>
				</div>

				<div class="faq-item-answer">
					<p>Yes. Only employees of Tata Communications Ltd, MERCEDES AMG PETRONAS Formula 1 Team, Formula One Management, Sidhu &amp; Simon Communications, or Hill &amp; Knowlton Strategies, as well as the immediate family (spouse, parents, siblings, and children) and household members of those employees, are not eligible to enter.</p>
					<p>For full entry criteria, please see the <a href="/rules">Official Rules</a>.</p>
				</div>
			</li>
			<li class="faq-item">
				<div class="faq-item-question">
					<p>What do I have to do to enter the F1 Connectivity Innovation Prize?</p>
				</div>

				<div class="faq-item-answer">
					<p>Once Challenges have been announced on the <a href="/">official website</a>, follow the instructions to enter a Challenge.</p>
					<p>For full entry criteria, please see the <a href="/rules">Official Rules</a>.</p>
				</div>
			</li>
			<li class="faq-item">
				<div class="faq-item-question">
					<p>I have made a prototype for my entry - can I send it to you?</p>
				</div>
				<div class="faq-item-answer">
					<p>We are not able to receive and critique prototypes so please don't send them in. If you have built one, the best option would be to take a photo, or provide an illustration of it (JPEG Format), and submit this as one of your supporting visuals.</p>
					<p>Prototypes will not be judged as part of a submission.</p>
				</div>
			</li>
			<li class="faq-item">
				<div class="faq-item-question">
					<p>I want to keep my Challenge solution a secret. Can I still enter?</p>
				</div>

				<div class="faq-item-answer">
					<p>Unfortunately the structure of the F1&reg; Connectivity Innovation Prize does not allow for your entry to be kept secret. Your entry may be published on the F1&reg; Innovation Connectivity Prize website and may be used for publicity purposes. It is your responsibility to seek advice and protection from your local patent or intellectual property office before submitting your entry..</p>
					<p>Please ensure you have read and understand the <a href="/rules">Official Rules</a> before submitting your entry.</p>
				</div>
			</li>
			<li class="faq-item">
				<div class="faq-item-question">
					<p>How many winners will there be and what are the prizes?</p>
				</div>

				<div class="faq-item-answer">
					<p>There will be two winning entries selected from each challenge. Below is a break up of prizes for each challenge:</p>
					
					<ul>
						<li>a) For each winning entry submitted as an individual:
							<ul>
								<li>- VIP trip for two people to the FORMULA 1 GRAND PRIX DE MONACO 2015, inclusive of flights, hotel, ground transfers and grandstand tickets;</li>
								<li>- Admission to the F1&reg; Connectivity Innovation Prize Short List</li>
								<li>- F1&reg; Connectivity Innovation Prize certificate</li>
							</ul>
						</li>
						<li>b) For each winning entry submitted as a team:
							<ul>
								<li>- VIP trip for only two team members (as shortlisted by the Team Lead) to the FORMULA 1 GRAN DE MONACO 2015, inclusive of flights, hotel, ground transfers and grandstand tickets;</li>
								<li>- Admission to the F1&reg; Connectivity Innovation Prize Short List</li>
								<li>- F1&reg; Connectivity Innovation Prize certificate for each winning team member</li>
							</ul>
						</li>
					</ul>

					<p>The grand prize winner/s will be selected from the six winning entries shortlisted from the three challenges.</p>

					<ul>
						<li>If the grand prize winner is an individual he/she will get:
							<ul>
								<li>- &dollar;50,000</li>
								<li>- F1&reg; Connectivity Innovation Prize Trophy</li>
								<li>- F1&reg; Connectivity Innovation Prize certificate</li>
							</ul>
						</li>
						<li>If the grand prize winner is a team they will get:
							<ul>
								<li>- A total sum of &dollar;50,000 to be equally distributed among respective team members.</li>
								<li>- One F1&reg; Connectivity Innovation Prize Trophy</li>
								<li>- One F1&reg; Connectivity Innovation Prize certificate</li>
							</ul>
						</li>
					</ul>
					<p>For a detailed breakdown of the prizes, please see the <a href="/rules">Official Rules</a>.</p>
				</div>
			</li>
			<li class="faq-item">
				<div class="faq-item-question">
					<p>How is the F1 Connectivity Innovation Prize judged?</p>
				</div>
				<div class="faq-item-answer">
					<p>For full judging criteria, please see the <a href="/rules">Official Rules</a>.</p>
				</div>
			</li>


			<li class="faq-item">
				<div class="faq-item-question">
					<p>Where happens to my Challenge entry once I have submitted it, and do I still own it?</p>
				</div>

				<div class="faq-item-answer">
					<p>You will always own the idea, however please note that your entry may be published on the F1&reg; Connectivity Innovation Prize website and may be used for publicity purposes. It is your responsibility to seek advice and protection from your local patent or intellectual property office before submitting your entry.</p>

					<p>For full details, please see the <a href="/rules">Official Rules</a>.</p>
				</div>
			</li>


			<li class="faq-item">
				<div class="faq-item-question">
					<p>Will I get a job in Formula 1 if I win?</p>
				</div>

				<div class="faq-item-answer">
					<p>The purpose of the F1&reg; Connectivity Innovation Prize is to reward the best ideas on the basis of  the judging criteria.</p>

					<p>As such, job applications submitted via the competition website or to any of the administrators will not be followed up. If you are serious about working in Formula 1, we advise that you apply via the careers section of the company for which you wish to apply.</p>
				</div>
			</li>
			<li class="faq-item">
				<div class="faq-item-question">
					<p>Who are Tata Communications?</p>
				</div>

				<div class="faq-item-answer">
					<p>Tata Communications is a USD &dollar;3.2 billion (FY13) global communications and enterprise IT service provider that owns and operates the world's most advanced subsea cable network, delivering first-class infrastructure, enterprise solutions and partnerships to carriers and businesses worldwide.</p>

					<p>Tata Communications is part of the &dollar;96.7 billion group of Tata Companies.</p>

					<p>For more information, please visit <a href="www.tatacommunications.com">www.tatacommunications.com</a>.</p>
				</div>
			</li>
			<li class="faq-item">
				<div class="faq-item-question">
					<p>What is the relationship between Tata Communications and Formula1&reg; ?</p>
				</div>

				<div class="faq-item-answer">
					<p>Tata Communications are the Official Connectivity Provider for Formula 1&reg; and Official Web Hosting and Content Delivery Network Provider of <a href="http://formula1.com">Formula1.com</a>.</p>

					<p>Tata Communications is also the proud Official Managed Connectivity Supplier to MERCEDES AMG PETRONAS Formula 1&trade; Team, powering the team with three-times faster connectivity, greater bandwidth and lower latency to transfer race data live from every race location to and from the team's base in the UK, in less than a quarter of a second.</p>

					<p>For more information, please visit <a href="www.tatacommunications.com/speed-lead">www.tatacommunications.com/speed-lead</a>.</p>
				</div>
			</li>

			<li class="faq-item">
				<div class="faq-item-question">
					<p>What should I do if I have any more questions?</p>
				</div>

				<div class="faq-item-answer">
					<p>You should contact the administrators of the competition by emailing <a href="mailto:prize@sidhuandsimon.com">prize@sidhuandsimon.com</a>. We regret that entries to the Challenges cannot be accepted via this email address and it should be used solely for addressing concerns related to the F1 Connectivity Innovation Prize.</p>
				</div>
			</li>
		</ul>
	</div>
</div>