

	<!-- Hero carousel -->
	<div class="flexslider clearfix" data-init-slider>
		<ul class="slides">

			<!-- Each <li> element is a slide -->

			<!-- Slide 1 -->
			<li>
				<div class="media-container">
					<img class="video_placeholder" src="https://f1-innovation-prize.s3.amazonaws.com/video/film_carousel_v2.jpg" alt="">
					<video id="challenge-film" data-uid="challenge-film" data-player-kit="1" poster="https://f1-innovation-prize.s3.amazonaws.com/video/film_carousel_v2.jpg" title="F1 CONNECTIVITY INNOVATION PRIZE - Challenge 2" controls-visibility="autohide" preload="none" data-sublime-player>
						<source src="https://f1-innovation-prize.s3.amazonaws.com/video/TATA_COMMS_F1_PRIZE_FILM_1_v2.mp4" />
					</video>
				</div>
				<div class="caption bg-tata-grey-no-tint">
					<div class="site-container caption-content">CHALLENGE 2 WINNERS ANNOUNCED</div>
				</div>
			</li>
			<!-- Slide 2 -->
			<li>
				<!-- Slide image -->
				<div class="media-container">
					<img alt="" src="./images/carousel/mercedes_petronas_2.jpg">
				</div>
				<!-- Slide caption -->
				<div class="caption bg-tata-grey-no-tint">
					<div class="site-container caption-content">
						<p>"These Challenges will attract a huge response"<br>
						<span class="quote-attribution">Lewis Hamilton, F1<sup>&reg;</sup> driver for the MERCEDES AMG PETRONAS Formula One<sup>&trade;</sup> Team</span></p>
					</div>
				</div>
			</li>
			<li>
				<!-- Slide image -->
				<div class="media-container">
					<img alt="" src="./images/carousel/martin_brundle_2.jpg">
				</div>
				<!-- Slide caption -->
				<div class="caption bg-tata-grey-no-tint">
					<div class="site-container caption-content">
						<p>"An unprecedented opportunity for F1<sup>&reg;</sup> fans to think creatively and win big"
						<span class="quote-attribution">Martin Brundle, F1<sup>&reg;</sup> Commentator</span></p>
					</div>
				</div>
			</li>
			<li>
				<!-- Slide image -->
				<div class="media-container">
					<img alt="" src="./images/carousel/carousel_camera.jpg">
				</div>
				<!-- Slide caption -->
				<div class="caption bg-tata-grey-no-tint">
					<div class="site-container caption-content">
						<p>"The resultant ideas can rapidly enhance the F1<sup>&reg;</sup> fan experience"
						<span class="quote-attribution">John Morrison, Chief Technical Officer - Formula One Management</span></p>
					</div>
				</div>
			</li>
			<li>
				<!-- Slide image -->
				<div class="media-container">	
					<img alt="" src="./images/carousel/Carousel_FOM.jpg">
				</div>
				<!-- Slide caption -->
				<div class="caption bg-tata-grey-no-tint">
					<div class="site-container caption-content">
						<p>"This will push the boundaries of technology and design innovation"
						<span class="quote-attribution">Mehul Kapadia, Managing Director, Formula 1<sup>&reg;</sup> Business, Tata Communications</span></p>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<!-- Prize section -->
	<div id="prize" class="intro">
		<div class="site-container">
			<div class="content-container bottom-padding">
				<!-- Prize section heading -->
				<h2 class="section-heading">The prize</h2>
				<div class="prize-banner">
					<!-- Prize graphic -->
					<img src=".././images/grand_prize.png" alt="">
					<div class="prize-info">
						<p>Other prizes include vip trips to the Formula 1 grand prix de monaco 2015</p>
					</div>
				</div>
				<!-- Prize copy -->

				<!-- Any superscript text should be inserted with <sup>text</sup> -->
				<!-- Registered Trademark symbol goes in as <sup>&reg;</sup> -->

				<p>Formula 1 racing is the most technologically advanced and high profile sport on the planet. In a sport where every tenth of a second defines the difference between winning and losing, superior connectivity and content delivery networks are critical components in the quest to win world championships. Innovation. Creativity. Smart use of new technologies. This is what Tata Communications brings to the sport as the Official Connectivity Provider to Formula 1.</p>
				<p>In a ground breaking initiative, Tata Communications presents the F1 Connectivity Innovation Prize<sup class="note">1</sup> – a trailblazing new contest that will award a grand prize of USD $50,000 to a winning individual or team<sup class="note">2</sup>. Other prizes include VIP trips to the FORMULA 1 GRAND PRIX DE MONACO 2015.<sup class="note">3</sup></p>
				<p>To win this highly prestigious competition you will need to apply your creativity and problem-solving skills to at least one of three challenges. The winner of one of the three challenges will then be selected by the judging panel as the grand prizewinner. You can enter each challenge as either an individual or as a part of a team (please refer to entry criteria in the <a href="/rules">Official Rules</a>).</p>
				<p>The F1 Connectivity Innovation Prize is intended to catalyse next-generation technologies by providing a broad canvas from which to inspire imaginative and inventive thinking.</p>
				<p>Click <a href="" ng-click="util.scrollTo('register')">here</a> to stay updated on the latest challenge. Official entry into the contest will be subject to the <a href="/rules">Official Rules</a>.

				<p class="small-print push-down"><sup class="note">1</sup> No purchase necessary. Official Rules identifying who is eligible to participate; (ii) how to participate, (iii) how winners will be selected, and (iv) a description of the prizes are available here.</p>
				<p class="small-print"><sup class="note">2</sup> Unless otherwise indicated in the Official Rules, all cash prizes will be divided equally among all officially registered members of a registered team.</p>
				<p class="small-print"><sup class="note">3</sup> Dates to be confirmed.</p>
			</div>
		</div>
	</div>
	
	<!-- Tweet bar - content is fetched in background so no text content is needed here -->
	<div class="tweets bg-tata-blue">
		<div class="site-container">
			<div class="content-container">
				<div data-tweets></div>
			</div>
		</div>
	</div>

	<div id="challenges" class="bg-tata-grey">
		<div class="site-container">
			<div class="content-container bottom-padding">
				<h2 class="section-heading">The challenges</h2>
				<p>To win The F1<sup>&reg;</sup> Connectivity Innovation Prize bounty of $50,000 you need to address at least one of the three challenges, each of which carries equal merit and have been set by Tata Communications and its F1<sup>&reg;</sup> Connectivity Innovation Prize partners, Formula One Management and the MERCEDES AMG PETRONAS Formula One<sup>&trade;</sup> Team.</p>

				<!-- This HTML list contains the challenge arrow boxes, one <li> element for each -->
				<ul class="challenge-banner-container clearfix">

					<!-- Change the class for this element to set the required state for this banner I.E. open or closed. No class defaults to 'coming soon' state -->
					<li id="challenge-1" class="challenge-banner closed">
						<a href="/challenge-1">
							<div>
								<span class="big-number">01</span>
								<p ng-show="viewportType !== 'mobile'">Now closed<br>Winners announced</p>
							</div>
						</a>
						<!--
							Background graphics represent the different states of a challenge: coming soon, open and closed.
							The 'challenge-' class describes which state each image is for.
						 -->
						<img class="challenge-bg-graphic challenge-coming-soon" src="./images/challenge_arrow_white_outline.png" alt="">
						<img class="challenge-bg-graphic challenge-active" src="./images/challenge_arrow_green.png" alt="">
						<img class="challenge-bg-graphic challenge-closed" src="./images/challenge_arrow_grey.png" alt="">
					</li>
					<li id="challenge-2" class="challenge-banner closed">
						<a href="/challenge-2">
							<div>
								<span class="big-number">02</span>
								<p ng-show="viewportType !== 'mobile'">
									Now closed <br>Winners announced<br>
								</p>
							</div>
						</a>
						<img class="challenge-bg-graphic challenge-coming-soon" src="./images/challenge_arrow_white_outline.png" alt="">
						<img class="challenge-bg-graphic challenge-active" src="./images/challenge_arrow_green.png" alt="">
						<img class="challenge-bg-graphic challenge-closed" src="./images/challenge_arrow_grey.png" alt="">
					</li>
					<li id="challenge-3" class="challenge-banner">
						<div>
							<span class="big-number">03</span>
							<p ng-show="viewportType !== 'mobile'">
								Launching<br> 4th November 2014
							</p>
						</div>
						<img class="challenge-bg-graphic challenge-coming-soon" src="./images/challenge_arrow_white_outline.png" alt="">
						<img class="challenge-bg-graphic challenge-active" src="./images/challenge_arrow_green.png" alt="">
					</li>
				</ul>
				
			</div>
		</div>
	</div>

	<!-- Register section -->
	<div id="register" class="bg-tata-green">
		<div class="site-container">
			<div class="content-container bottom-padding">
				<div ng-switch="signupStatus">
					<h2 class="section-heading">Sign up for updates</h2>
					<form name="signupForm" ng-switch-when="pending" class="form clearfix" novalidate>
						<p>Sign up to keep up-to-date on live challenge briefs, when the Official Registration opens, and other email updates.</p>
						<div class="form-group">
							<input type="text" name="first_name" placeholder="First name" ng-model="signupData.first_name" data-validate required>
							<span ng-show="signupFormSubmitted && signupForm.first_name.$invalid" class="error-block">Please enter your first name</span>
						</div>
						<div class="form-group">
							<input type="text" name="last_name" placeholder="Last name" ng-model="signupData.last_name" data-validate required>
							<span ng-show="signupFormSubmitted && signupForm.last_name.$invalid" class="error-block">Please enter your last name</span>
						</div>
						<div class="form-group">
							<input type="email" name="email" placeholder="Email address" ng-model="signupData.email" ng-pattern="/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i" data-validate required>
							<span ng-show="signupFormSubmitted && signupForm.email.$invalid" class="error-block">Please enter your email</span>
						</div>
						<div class="form-control" ng-class="{'has-error': signupFormSubmitted.submitted && (signupForm.country.$invalid || signupForm.country.$pristine)}">
							<label class="fld-label" for="field-country">Country of residence</label>
							<select name="country" id="country" ng-model="signupData.country" data-validate required>
								<option value="">Please choose</option>
								<option ng-repeat="country in ['Australia','Brazil','Canada – Ontario','Canada - Nova Scotia','Canada - New Brunswick','Canada – Manitoba','Canada - British Columbia','Canada - Prince Edward Island','Canada – Saskatchewan','Canada – Alberta','Canada - Newfoundland and Labrador','Finland','Germany','Hong Kong','India','Norway','Singapore','Spain','United Kingdom','United States']" value="{{country}}">{{country}}</option>
							</select>
							<span ng-show="signupFormSubmitted && signupForm.country.$invalid && signupForm.country.$pristine" class="error-block">Please select your country</span>
						</div>
						<div class="form-group">
							<label for="field-source">Where did you hear about this competition?</label>
							<select name="referral" ng-model="signupData.referral_name" data-validate required>
								<option value="">Please choose</option>
								<option ng-repeat="source in ['News website','Other website','Social media','Colleague/business associate','Friends and family','Search engine','Other'] track by $index" value="{{source}}">{{source}}</option>
							</select>
							<span ng-show="signupFormSubmitted && signupForm.referral.$pristine" class="error-block">Please select an option</span>
							<div ng-show="signupData.referral_name == 'News website' || signupData.referral_name == 'Other website' || signupData.referral_name == 'Colleague/business associate' || signupData.referral_name == 'Other'">
								<span>Please state where...</span>
								<textarea id="referral_text" class="fld-text" name="referral_text" rows="2" ng-model="signupData.referral_text"></textarea>
							</div>
						</div>
						<div class="form-group form-group-terms form-group-left">
							<label data-augment-checkbox id="fld-terms-label" class="checkbox-label" ng-class="{'has-error': signupFormSubmitted && !signupForm.terms.checked}">
								<input id="fld-terms" class="checkbox hidden" type="checkbox" name="terms" ng-model="signupData.terms" data-validate required>
								<span class="checkbox-mask"></span>
								<span class="checkbox-text">I have read, understood, and agree to Tata Communications <a href="http://www.tatacommunications.com/policies/overview" target="_blank">policies</a></span>
							</label>
						</div>
						<div class="form-group form-group-right">
							<img class="progress-gif" ng-show="signupFormSubmitted && awaitingReponse" src="./images/submit_loading_05.gif" alt="">
							<button ng-click="signup(signupForm)" class="btn-submit">Submit</button>
						</div>
					</form>
					<div ng-switch-when="complete">
						<p>Thank you for signing up.</p>
						<p>Stay up to date with the latest news and developments <a href="http://twitter.com/tata_comm">@tata_comm</a> or join the conversation <a href="https://twitter.com/hashtag/tatacommsf1prize?src=hash">#tatacommsf1prize</a>.</p>
					</div>
					<div ng-switch-when="error">
						<p>Sorry, there has been an error saving your details.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Judges section -->
	<div id="judges" class="site-container">
		<div class="content-container bottom-padding">
			<h2 class="section-heading">The judges</h2>
			<p class="helper-text">Click a judge below to reveal more information.</p>
			<ul class="judge-list reveal-list clearfix">
				<li class="clearfix" ng-class="{active: activeJudge==='john morrison'}">
					<a class="item-label" href="" ng-click="util.setActiveJudge('john morrison')">
						<img class="item-image" src="./images/judges/john_v2.jpg" alt="">
						<span class="item-name item-name-grey" ng-show="viewportType !== 'desktop'">
							<div>John Morrison</div>
						</span>
					</a>
					<!-- Mobile copy only appears at narrow screen width - this must be identical to the desktop copy below -->
					<div class="item-copy-mobile" ng-show="viewportType !== 'desktop' && activeJudge ==='john morrison'">
						<p>John is a native Scot who graduated with a Bachelor of Science degree in Electrical and Electronic Engineering from Heriot Watt University in Edinburgh. He initially worked as a designer of advanced and innovative broadcast electronic hardware but soon moved into broadcast system design being responsible for conceiving the infrastructure required to produce and deliver television and film content for many UK and international production facilities and broadcast networks. Today John has brought his seasoned experience to the role of Chief Technical Officer for Formula One Management, with the responsibility to deliver live television from 19 remote locations a year to over 450 million viewers in 187 territories, thereby making Formula 1 racing the world's most popular annual sporting series.</p>
					</div>
				</li>
				<li class="clearfix" ng-class="{active: activeJudge==='martin brundle'}">
					<a class="item-label" href="" ng-click="util.setActiveJudge('martin brundle')">
						<img class="item-image" src="./images/judges/martin_brundle_2.jpg" alt="">
						<span class="item-name item-name-grey" ng-show="viewportType !== 'desktop'">
							<div>Martin Brundle</div>
						</span>
					</a>
					<div class="item-copy-mobile" ng-show="viewportType !== 'desktop' && activeJudge ==='martin brundle'">
						<p>After a noteworthy career in the cockpit, Martin has built a second career in the commentary box and is to many the voice of Formula One, bringing his now-legendary commentary to television audiences around the world courtesy of ITV, the BBC and most recently, SKY Sports. Martin's unrivalled capability in the commentary box is informed by many years in the cockpit, both in Formula 1 with no less than eight teams and 158 starts, but also from a distinguished career in sports car racing that saw him crowned World Sportscar Champion in 1988 and claim a famous victory for Silk Cut Jaguar at Le Mans in 1990. Racing has been his all-consuming passion and in his own words, Formula 1 has seen him 'spill blood, break bones, shed tears, generate tanker loads of sweat, taste the champagne glories and plumb the depths of misery.'</p>
					</div>
				</li>
				<li class="clearfix" ng-class="{active: activeJudge==='lewis hamilton'}">
					<a class="item-label" href="" ng-click="util.setActiveJudge('lewis hamilton')">
						<img class="item-image" src="./images/judges/lewis_hamilton_v2.jpg" alt="">
						<span class="item-name item-name-grey" ng-show="viewportType !== 'desktop'">
							<div>Lewis Hamilton</div>
						</span>
					</a>
					<div class="item-copy-mobile" ng-show="viewportType !== 'desktop' && activeJudge ==='lewis hamilton'">
						<p>Lewis Hamilton is rightly regarded as one of the most prodigious talents in global sport, having exploded onto the racetrack in 2007 following an apprenticeship with McLaren that commenced at the tender age of 10. Finishing 2nd in the World Championship in his rookie season and having given witness to his sensational race craft, he claimed the title in 2008. In a finely judged 'off-track' move, Lewis joined the MERCEDES AMG PETRONAS Formula One Team in 2013 and has been a instrumental element of the team's potency since and has recorded 26 wins from 135 GP starts and has appeared on the podium 59 times.</p>
					</div>
				</li>
				<li class="clearfix" ng-class="{active: activeJudge==='julie'}">
					<a class="item-label" href="" ng-click="util.setActiveJudge('julie')">
						<img class="item-image" src="./images/judges/julie.jpg" alt="">
						<span class="item-name item-name-grey" ng-show="viewportType !== 'desktop'">
							<div>Julie Woods-Moss</div>
						</span>
					</a>
					<div class="item-copy-mobile" ng-show="viewportType !== 'desktop' && activeJudge ==='julie'">
						<p>Julie Woods-Moss is Chief Marketing Officer at Tata Communications, part of the $96.79 billion Tata group. She is responsible for all company-wide marketing and communications across all strategic business units as well as the Formula 1™ relationship with additional sales responsibility for the Next Gen Provider Segment.</p>
						<p>Julie has more than 20 years of experience in senior executive roles with leading international corporations including IBM, United Pan-European Cable (UPC) and British Telecom (BT). Julie joined BT in 2004 and became Chief Marketing Officer and President of Strategy, with responsibility for BT’s £5 billion products and services portfolio. Prior to BT, Julie was with UPC in Amsterdam, Europe’s largest cable company as Vice President, Marketing responsible for the Broadband business and tripled the European subscriber base in three years.</p>
						<p>Julie has also served as an advisor to the X-Prize Foundation, whose mission is to create radical breakthroughs in technology for the benefit of humanity.</p>
					</div>
				</li>
				<li class="clearfix" ng-class="{active: activeJudge==='paddy lowe'}">
					<a class="item-label" href="" ng-click="util.setActiveJudge('paddy lowe')">
						<img class="item-image" src="./images/judges/paddy_lowe_v3.jpg" alt="">
						<span class="item-name item-name-grey" ng-show="viewportType !== 'desktop'">
							<div>Paddy Lowe</div>
						</span>
					</a>
					<div class="item-copy-mobile" ng-show="viewportType !== 'desktop' && activeJudge ==='paddy lowe'">
						<p>Paddy Lowe takes overall responsibility for the design and operation of the team's race cars and supporting technology. With a long Formula One pedigree with teams including Williams, where he oversaw the Active Suspension project which helped Nigel Mansell to the 1992 World Drivers' Championship and latterly McLaren, where he spent two decades guiding a number of World Championship campaigns. Paddy graduated from Sidney Sussex College, University of Cambridge in 1984 with a degree in Engineering.</p>
					</div>
				</li>
			</ul>
			<!-- Desktop copy shows onluy on desktop - this must be identical to the mobile copy above -->
			<div class="item-copy-desktop" ng-show="viewportType==='desktop'" ng-switch="activeJudge">
				<div ng-switch-when="john morrison">
					<p><strong>John Morrison, Chief Technical Officer<br>Formula One Management</strong></p>
					<p>John is a native Scot who graduated with a Bachelor of Science degree in Electrical and Electronic Engineering from Heriot Watt University in Edinburgh. He initially worked as a designer of advanced and innovative broadcast electronic hardware but soon moved into broadcast system design being responsible for conceiving the infrastructure required to produce and deliver television and film content for many UK and international production facilities and broadcast networks. Today John has brought his seasoned experience to the role of Chief Technical Officer for Formula One Management, with the responsibility to deliver live television from 19 remote locations a year to over 450 million viewers in 187 territories, thereby making Formula 1 racing the world's most popular annual sporting series.</p>
				</div>
				<div ng-switch-when="martin brundle">
					<p><strong>Martin Brundle, F1<sup>&reg;</sup> Commentator</strong></p>
					<p>After a noteworthy career in the cockpit, Martin has built a second career in the commentary box and is to many the voice of Formula One, bringing his now-legendary commentary to television audiences around the world courtesy of ITV, the BBC and most recently, SKY Sports. Martin's unrivalled capability in the commentary box is informed by many years in the cockpit, both in Formula 1 with no less than eight teams and 158 starts, but also from a distinguished career in sports car racing that saw him crowned World Sportscar Champion in 1988 and claim a famous victory for Silk Cut Jaguar at Le Mans in 1990. Racing has been his all-consuming passion and in his own words, Formula 1 has seen him 'spill blood, break bones, shed tears, generate tanker loads of sweat, taste the champagne glories and plumb the depths of misery.'</p>
				</div>
				<div ng-switch-when="lewis hamilton">
					<p><strong>Lewis Hamilton, F1<sup>&reg;</sup> driver for the MERCEDES AMG PETRONAS Formula One<sup>&trade;</sup> Team</strong></p>
					<p>Lewis Hamilton is rightly regarded as one of the most prodigious talents in global sport, having exploded onto the racetrack in 2007 following an apprenticeship with McLaren that commenced at the tender age of 10. Finishing 2nd in the World Championship in his rookie season and having given witness to his sensational race craft, he claimed the title in 2008. In a finely judged 'off-track' move, Lewis joined the MERCEDES AMG PETRONAS Formula One Team in 2013 and has been a instrumental element of the team's potency since and has recorded 26 wins from 135 GP starts and has appeared on the podium 59 times.</p>
				</div>
				<div ng-switch-when="julie">
					<p><strong>Julie Woods-Moss, Chief Marketing Officer and CEO of<br>NextGen Business, Tata Communications</strong></p>
					<p>Julie Woods-Moss is Chief Marketing Officer at Tata Communications, part of the $96.79 billion Tata group. She is responsible for all company-wide marketing and communications across all strategic business units as well as the Formula 1™ relationship with additional sales responsibility for the Next Gen Provider Segment.</p>
					<p>Julie has more than 20 years of experience in senior executive roles with leading international corporations including IBM, United Pan-European Cable (UPC) and British Telecom (BT). Julie joined BT in 2004 and became Chief Marketing Officer and President of Strategy, with responsibility for BT’s £5 billion products and services portfolio. Prior to BT, Julie was with UPC in Amsterdam, Europe’s largest cable company as Vice President, Marketing responsible for the Broadband business and tripled the European subscriber base in three years.</p>
					<p>Julie has also served as an advisor to the X-Prize Foundation, whose mission is to create radical breakthroughs in technology for the benefit of humanity.</p>
				</div>
				<div ng-switch-when="paddy lowe">
					<p><strong>Paddy Lowe, Executive Director (Technical)<br>MERCEDES AMG PETRONAS Formula One<sup>&trade;</sup> Team</strong></p>
					<p>Paddy Lowe takes overall responsibility for the design and operation of the team's race cars and supporting technology. With a long Formula One pedigree with teams including Williams, where he oversaw the Active Suspension project which helped Nigel Mansell to the 1992 World Drivers' Championship and latterly McLaren, where he spent two decades guiding a number of World Championship campaigns. Paddy graduated from Sidney Sussex College, University of Cambridge in 1984 with a degree in Engineering.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="partners" class="bg-tata-grey">
		<div class="site-container">
			<div class="content-container bottom-padding">
				<h2 class="section-heading">The partners</h2>
				<p class="helper-text">Click a partner below to reveal more information.</p>
				<ul class="partner-images reveal-list clearfix">
					<li class="item-label clearfix" ng-class="{active: activePartner==='fom'}">
						<a href="" class="item-label" ng-click="util.setActivePartner('fom')">
							<img class="item-image" src="./images/partners/FOM.png" alt="">
							<span class="item-name" ng-show="viewportType !== 'desktop'">
								<div>Formula One Management</div>
							</span>
						</a>
						<div class="item-copy-mobile" ng-show="viewportType !== 'desktop' && activePartner === 'fom'">
							<p>Formula One World Championship Limited has the exclusive right to commercialise the FIA Formula One World Championship. Along with its affiliates within the Formula One Group, including Formula One Management Limited, it commercially exploits the FIA Formula One World Championship, including through the production, management and exploitation of media content in all forms.</p>
						</div>
					</li>
					<li class="item-label clearfix" ng-class="{active: activePartner==='tata'}">
						<a href="" class="item-label" ng-click="util.setActivePartner('tata')">
							<img class="item-image" src="./images/partners/tata.png" alt="">
							<span class="item-name" ng-show="viewportType !== 'desktop'">
								<div>Tata Communications</div>
							</span>
						</a>
						<div class="item-copy-mobile" ng-show="viewportType !== 'desktop' && activePartner === 'tata'">
							<p>Tata Communications is the Official Connectivity Provider of Formula 1® enabling the sport to seamlessly reach out to its tens of millions of fans across the globe. Tata Communications is also the Official Managed Connectivity Supplier to the MERCEDES AMG PETRONAS Formula One Team, providing three times faster connectivity to the team. Tata Communications global network includes one of the most advanced and largest submarine cable networks and a Tier-1 IP network with connectivity to more than 200 countries and territories across 400 PoPs, as well as  nearly 1 million square feet of data centre and collocation space worldwide.</p>
						</div>
					</li>
					<li class="item-label clearfix" ng-class="{active: activePartner==='mercedes'}">
						<a href="" class="item-label" ng-click="util.setActivePartner('mercedes')">
							<img class="item-image" src="./images/partners/mercedes.png" alt="">
							<span class="item-name" ng-show="viewportType !== 'desktop'">
								<div>Mercedes AMG Petronas Formula One<sup>&trade;</sup> Team</div>
							</span>
						</a>
						<div class="item-copy-mobile" ng-show="viewportType !== 'desktop' && activePartner === 'mercedes'">
							<p>With a heritage dating back to 1934, the Mercedes AMG Petronas Formula One Team is the contemporary expression of Mercedes' long and distinguished history in the top echelons of motorsport. Today the team's HQ in Brackely, UK, is home to over 500 staff in a state-of-the-art technology facility that designs, develops and deploys the Silver Arrows at 19 Grands Prix each season.</p>
						</div>
					</li>
				</ul>
				<div class="item-copy-desktop partner-copy-desktop" ng-show="viewportType==='desktop'" ng-switch="activePartner">
					<div ng-switch-when="fom">
						<p><strong>Formula One Management</strong></p>
						<p>Formula One World Championship Limited has the exclusive right to commercialise the FIA Formula One World Championship. Along with its affiliates within the Formula One Group, including Formula One Management Limited, it commercially exploits the FIA Formula One World Championship, including through the production, management and exploitation of media content in all forms.</p>
					</div>
					<div ng-switch-when="tata">
						<p><strong>Tata Communications</strong></p>
						<p>Tata Communications is the Official Connectivity Provider of Formula 1 enabling the sport to seamlessly reach out to its tens of millions of fans across the globe. Tata Communications is also the Official Managed Connectivity Supplier to the MERCEDES AMG PETRONAS Formula One Team, providing three times faster connectivity to the team. Tata Communications global network includes one of the most advanced and largest submarine cable networks and a Tier-1 IP network with connectivity to more than 200 countries and territories across 400 PoPs, as well as  nearly 1 million square feet of data centre and collocation space worldwide.</p>
					</div>
					<div ng-switch-when="mercedes">
						<p><strong>Mercedes AMG Petronas Formula One<sup>&trade;</sup> Team</strong></p>
						<p>With a heritage dating back to 1934, the Mercedes AMG Petronas Formula One Team is the contemporary expression of Mercedes' long and distinguished history in the top echelons of motorsport. Today the team's HQ in Brackely, UK, is home to over 500 staff in a state-of-the-art technology facility that designs, develops and deploys the Silver Arrows at 19 Grands Prix each season.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
