<div class="site-container">
	<div class="content-container">
		<h2 class="heading">Winners announced!</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, voluptatem, dolorem modi ipsam laudantium quaerat consequatur voluptatibus molestias explicabo rerum fugit distinctio fuga consectetur voluptate excepturi animi enim? Ducimus, suscipit.</p>
		<h2 class="heading">Challenge 1 winners</h2>
		<ul class="list-winners clearfix">
			<li class="winner-item">
				<img class="winner-image" src="./images/judges/mehul_kapadia_v2.jpg" alt="">
				<p class="winner-name">Winner 1</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, consectetur, voluptas, totam, officiis quaerat mollitia pariatur qui ipsa quae quia cumque nobis assumenda omnis molestias doloribus expedita velit! Alias, facilis.</p>
			</li>
			<li class="winner-item">
				<img class="winner-image" src="./images/judges/paddy_lowe_v3.jpg" alt="">
				<p class="winner-name">Winner 2</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, pariatur distinctio amet autem tenetur suscipit neque corrupti vitae. Fugit praesentium velit amet rerum tempora. Quod, eum architecto ex magni repellat.</p>
			</li>
		</ul>
		<h2 class="heading">Challenge 2 winners</h2>
		<ul class="list-winners clearfix">
			<li class="winner-item">
				<img class="winner-image" src="./images/judges/mehul_kapadia_v2.jpg" alt="">
				<p class="winner-name">Winner 1</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, consectetur, voluptas, totam, officiis quaerat mollitia pariatur qui ipsa quae quia cumque nobis assumenda omnis molestias doloribus expedita velit! Alias, facilis.</p>
			</li>
			<li class="winner-item">
				<img class="winner-image" src="./images/judges/paddy_lowe_v3.jpg" alt="">
				<p class="winner-name">Winner 2</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, pariatur distinctio amet autem tenetur suscipit neque corrupti vitae. Fugit praesentium velit amet rerum tempora. Quod, eum architecto ex magni repellat.</p>
			</li>
		</ul>
		<h2 class="heading">Challenge 3 winners</h2>
		<ul class="list-winners clearfix">
			<li class="winner-item">
				<img class="winner-image" src="./images/judges/mehul_kapadia_v2.jpg" alt="">
				<p class="winner-name">Winner 1</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, consectetur, voluptas, totam, officiis quaerat mollitia pariatur qui ipsa quae quia cumque nobis assumenda omnis molestias doloribus expedita velit! Alias, facilis.</p>
			</li>
			<li class="winner-item">
				<img class="winner-image" src="./images/judges/paddy_lowe_v3.jpg" alt="">
				<p class="winner-name">Winner 2</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, pariatur distinctio amet autem tenetur suscipit neque corrupti vitae. Fugit praesentium velit amet rerum tempora. Quod, eum architecto ex magni repellat.</p>
			</li>
		</ul>
	</div>
</div>